.fonts {
  position: relative;
  padding-top: 112px;

  @include tablet {
    padding-top: 80px;
  }

  @include mobile {
    padding-top: 30px;
  }

  &__inner {
    justify-content: space-between;
    gap: 40px;
    color: var(--dark-color);

    @include mobile {
      flex-direction: column;
      align-items: center;
    }
  }

  &__block {
    max-width: 350px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mobile {
      background-color: var(--light-color);
      padding: 15px;
      border-radius: 30px;
      box-shadow: 0px 0px 20px 1px #808080;
    }

    &-accent {
      font-family: var(--font-accent);
      letter-spacing: 1px;

      .fonts__title {
        &::after {
          content: "03";
        }
      }
    }

    &-text {
      .fonts__title {
        &::after {
          content: "01";
        }
      }
    }

    &-bold {
      font-weight: bold;

      .fonts__title {
        &::after {
          content: "02";
        }
      }
    }
  }

  &__title {
    font-family: inherit;
    font-weight: inherit;
    font-size: 22px;
    margin-bottom: 30px;
    position: relative;
    text-align: center;
    height: 50px;

    @include tablet {
      font-size: 18px;
    }

    @include small-tablet {
      font-size: 16px;
    }

    &::after {
      content: "01";

      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 60px;
      height: 20px;
      font-size: 60px;
      font-family: var(--font-family);
      font-weight: bold;
      line-height: 10px;
      opacity: 0.4;
    }
  }

  &__text {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    margin-top: auto;

    @include tablet {
      font-size: 14px;
    }

    @include small-tablet {
      font-size: 14px;
    }
  }

  &__background {
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    z-index: -1;
    box-shadow: none;

    @include mobile {
      height: 1000px;
      object-fit: cover;
    }
  }
}
