.footer {
  justify-content: flex-end;
  position: relative;
  margin-top: 112px;

  @include tablet {
    margin-top: 30px;
  }

  @include mobile {
    margin-top: 0px;
  }

  &__image {
    margin: 0 auto;
    padding: 0;

    @include mobile {
      height: 50vh;
      object-fit: cover;
    }
  }

  &__inner {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    column-gap: 60px;
    row-gap: 30px;
    padding: 30px 15px;
    align-items: center;

    @include small-tablet {
      padding: 15px;
      flex-direction: column;
      text-align: center;
    }
  }

  &__row {
    column-gap: 40px;

    @include tablet {
      column-gap: 30px;
      row-gap: 15px;
      font-size: 14px;
    }

    @include small-tablet {
      font-size: 12px;
      flex-wrap: wrap-reverse;
      align-items: flex-start;
      justify-content: space-between;
    }
  }

  &__block {
    @include mobile {
      width: 40%;
    }
  }

  &__link {
    color: var(--light-color);
    text-decoration: underline;
    transition: color 0.3s ease-in-out;

    @include hover {
      color: var(--accentSecond-color);
    }
  }

  &__cci {
    max-width: 290px;

    &-image {
    }
  }
}
