.ornaments {
  margin-top: 112px;

  @include tablet {
    margin-top: 80px;
  }

  @include mobile {
    margin-top: 30px;
  }

  &__inner {
    overflow-x: hidden;
    width: 100%;
    position: relative;
    margin-bottom: 50px;
    display: flex;
    justify-content: flex-end;

    @include tablet {
      margin-bottom: 30px;
    }

    @include mobile {
      margin-bottom: 16px;
    }
  }

  &__image {
    max-height: 300px;
    vertical-align: bottom;
    max-width: max-content;

    @include big-desktop {
      max-height: 250px;
    }

    @include tablet {
      max-height: 200px;
    }

    @include mobile {
      max-height: 100px;
    }
  }
}
