.tourism {
  margin-top: 112px;
  margin-bottom: 112px;

  @include tablet {
    margin-top: 80px;
    margin-bottom: 80px;
  }

  @include mobile {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  &__inner {
  }

  &__def {
    text-align: justify;
    font-size: 20px;
    padding: 0 15px;
    margin: 0 auto;
    width: 50%;
    margin-bottom: 50px;

    @include tablet {
      font-size: 16px;
      margin-bottom: 30px;
    }

    @include small-tablet {
      width: 100%;
      text-indent: 20px;
    }

    @include mobile {
      font-size: 13px;
      margin-bottom: 0;
      margin-bottom: 16px;
    }
  }

  &__caption {
    font-family: var(--font-accent, sans-serif);
    letter-spacing: 10px;
    font-size: 78px;
    text-transform: uppercase;
    color: var(--white-color);
    margin-bottom: 50px;
    text-align: center;
    line-height: 1;

    @include big-desktop {
      font-size: 60px;
    }

    @include small-tablet {
      font-size: 48px;
      margin-bottom: 20px;
    }

    @include mobile {
      font-size: 28px;
    }
  }

  &__text {
    @include tablet {
      font-size: 14px;
      margin-bottom: 20px;

      @include small-tablet {
        margin-bottom: 0;
      }
    }
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    border-top: 1px solid var(--light-color);
    position: relative;
    padding-right: 50px;

    &-icon {
      padding: 0;
      margin: 0;
      list-style-type: none;
      align-items: flex-end;
      padding-right: 50px;
    }

    &::after {
      content: "";

      position: absolute;
      right: 0px;
      top: 0px;
      width: 1px;
      height: 50px;

      transform: rotate(60deg);
      transform-origin: top right;
      background-color: var(--light-color);
    }

    &::before {
      content: "";

      position: absolute;
      right: 0px;
      top: -50px;
      width: 1px;
      height: 50px;

      transform: rotate(-60deg);
      transform-origin: bottom right;
      background-color: var(--light-color);
    }
  }

  &__item {
    grid-column: 2 span;
    font-size: 20px;
    text-align: center;
    line-height: 1.2;
    transition: all 0.2s ease-in;
    cursor: default;

    @include hover {
      text-shadow: 0 0 10px white;
      transform: scale(1.2) translateY(5px);
    }

    @include big-desktop {
      font-size: 18px;
    }

    @include tablet {
      font-size: 16px;
    }

    @include mobile {
      font-size: 15px !important;
      line-height: 1.3;
    }

    @include small-tablet {
      border-top: 1px solid var(--light-color);
      width: 100%;
      text-align: center;
      position: relative;

      @include hover {
        text-shadow: none;
        transform: none;
      }

      &::after {
        content: "";

        position: absolute;
        left: 50%;
        top: -10px;
        transform: translateX(-50%);
        width: 1px;
        height: 10px;
        background-color: var(--light-color);
        z-index: 20;
      }

      @include mobile {
        font-size: 18px;
      }
    }

    &-icon {
      grid-column: 2 span;
      padding-bottom: 10px;
      text-align: center;
      position: relative;
      // box-shadow: 0 0 100px white;

      &::after {
        content: "";

        position: absolute;
        left: 0px;
        bottom: 0px;
        width: 50%;
        height: 10px;

        border-right: 1px solid var(--light-color);
      }
    }
  }

  &__icon {
    @include tablet {
      width: 50px;
    }

    @include small-tablet {
      padding-bottom: 10px;
      height: 75px;
      object-fit: contain;
    }
  }

  &__timeline {
    margin-bottom: 15px;
    @include small-tablet {
      display: none;
    }

    &-mobile {
      margin-bottom: 15px;
      display: none;
      overflow-x: hidden;
      position: relative;

      @include small-tablet {
        display: block;
      }

      &__list {
        margin-bottom: 10px;
        position: relative;
      }

      &__item {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
      }
    }
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: #999;
    opacity: 1;
    margin: 5px; /* Добавляем отступы между точками */
  }

  .swiper-pagination-bullet-active {
    background: #007aff;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    z-index: 0;
    width: 100%;
    filter: blur(5px);
    opacity: 0.5;
  }

  &__row {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 30px 0;

    @include tablet {
      height: auto;
      padding: 0;
    }
  }

  &__block {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 70px;
    row-gap: 20px;
    padding: 0 15px 15px;
    height: 70%;

    @include tablet {
      flex-direction: column;
      justify-content: center;
      padding: 30px;
      padding-bottom: 15px;
    }
  }

  &__image {
    width: 45%;
    z-index: 1;
    position: relative;
    max-height: 90%;

    @include tablet {
      width: 100%;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 60px;
    text-transform: uppercase;
    margin-bottom: 15px;
    line-height: 1.2;

    @include big-desktop {
      font-size: 48px;
    }

    @include small-tablet {
      font-size: 36px;
    }

    @include mobile {
      font-size: 26px;
    }
  }

  &__descr {
    padding-right: 50px;

    @include mobile {
      padding: 0;
    }
  }
}

.swiper-scrollbar {
  position: relative;
  background: var(--accentSecond-color);
  height: 5px;
  border-radius: 5px;
  z-index: 10;
}

.swiper-scrollbar-drag {
  position: relative;
  background: var(--accentFirst-color);
  height: 100%;
  border-radius: 5px;
}
