section.about
  .container
    .about__inner.grid
      img.about__logo(src="img/svg/logo-color.svg", alt="Южный Урал")
      p.about__description Южный Урал удивительный уголок России, где встречаются величественные горные вершины, кристально чистые озера и таинственные пещеры. Наш регион удивит вас своим разнообразием природы и самобытными народностями. Здесь можно насладиться необычайно красивыми горами, вершины которых окутаны в облака, а воздух наполнен свежестью и дыханием ветра. У подножья скал раскинулись живописные озера, словно зеркала, отражающие небесную голубизну. Их воды кристально чисты, словно жидкий изумруд и манят они своей таинственной глубиной. Погрузитесь в уникальную атмосферу и ощутите всю прелесть нашего удивительного региона!
      p.about__subtitle Южный Урал - вершина притяжения!
