section.colors
  .container
    .colors__inner.flex
      .colors__block.flex
        img.colors__image(src="img/color1.png" alt="Фиолетовый цвет" width='150px')
        span.colors__code #&thinsp;005BBE
      .colors__block.flex
        img.colors__image(src="img/color2.png" alt="Cалатовый цвет" width='150px')
        span.colors__code #&thinsp;95c11f
      .colors__block.flex
        img.colors__image(src="img/color3.png" alt="Белый цвет" width='150px')
        span.colors__code #&thinsp;eeeded
