section.fonts
  .container
    .fonts__inner.flex
      .fonts__block.fonts__block-text
        h2.fonts__title CenturyGothic Regular
        p.fonts__text Аа Бб Вв Гг Дд Ее Жж Зз Ии Йй Кк Лл Мм Нн Оо Пп Рр Сс Тт Уу Фф Хх Цц Чч Шш Щщ Ъъ Ыы Ьь Ээ Юю Яя
      .fonts__block.fonts__block-bold
        h2.fonts__title CenturyGothic Bold
        p.fonts__text Аа Бб Вв Гг Дд Ее Жж Зз Ии Йй Кк Лл Мм Нн Оо Пп Рр Сс Тт Уу Фф Хх Цц Чч Шш Щщ Ъъ Ыы Ьь Ээ Юю Яя
      .fonts__block.fonts__block-accent
        h2.fonts__title Tetra Regular
        p.fonts__text Аа Бб Вв Гг Дд Ее Жж Зз Ии Йй Кк Лл Мм Нн Оо Пп Рр Сс Тт Уу Фф Хх Цц Чч Шш Щщ Ъъ Ыы Ьь Ээ Юю Яя
  img.fonts__background(src="img/background.png", alt="Фон с лесом")
