footer.footer.flex
  img.footer__image(src="img/footer.png", alt="Лес")
  .footer__inner.flex
    .footer__row.flex
      .footer__block
        .footer__text арт-директор
        a.footer__link(href="https://t.me/malinki88") Алина Шмакова
      .footer__block
        .footer__text программист
        a.footer__link(href="https://t.me/karelka_s") Степан Карелин
      .footer__block
        .footer__text дизайнеры
        a.footer__link(href="https://t.me/ixoyss") Виктория Македонская <br/>
        a.footer__link(href="https://t.me/Miuuuoi") Полина Парашина <br/>
        a.footer__link(href="https://t.me/massshaaa_es") Мария Эскина <br/>
      .footer__block
        .footer__text видеографы
        a.footer__link() Артём Зигануров <br/>
        a.footer__link() Пётр Стихин <br/>
        a.footer__link() Виктория Дмитриевна <br/>
    a.footer__cci(href="http://kki74.ru/")
      img.footer__cci-image(src="img/cci.png", width='400px', alt="Колледж Креативных Индустрий")

