section.goods
  .goods__inner.grid

    img.goods__item.goods__item-1(src="img/good1.png", alt="Мерч")
    img.goods__item.goods__item-2(src="img/good2.png", alt="Мерч")
    img.goods__item.goods__item-3(src="img/good3.png", alt="Мерч")
    img.goods__item.goods__item-4(src="img/good4.png", alt="Мерч")
    .banners__one.banners__item.flex.goods__item.goods__item-5
      img.banners__one-image.banners__item-image(src="img/banner1.png", alt="Баннер", width='3500px')
    img.goods__item.goods__item-6(src="img/good6.png", alt="Мерч")
    img.goods__item.goods__item-7(src="img/good7.png", alt="Мерч")
    .banners__two.banners__item.flex.goods__item.goods__item-8
      img.banners__two-image.banners__item-image(src="img/banner2.png", alt="Баннер", width='3500px')
    img.goods__item.goods__item-9(src="img/good5.png", alt="Мерч")
    img.goods__item.goods__item-10(src="img/good10.png", alt="Мерч")

    img.goods__item.goods__item-11(src="img/good8.png", alt="Мерч")
    img.goods__item.goods__item-12(src="img/good9.png", alt="Мерч")
    img.goods__item.goods__item-13(src="img/good12.png", alt="Мерч")
    img.goods__item.goods__item-14(src="img/good11.png", alt="Мерч")


