head
  meta(charset="UTF-8")
  meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
  meta(http-equiv="X-UA-Compatible" content="ie=edge")
  meta(name="description" content="Колледж Креативных Индустрий создал сайт для демонстрации разработанного бренда Южный Урал. Туризм, мерч, оформление, ...")
  meta(name="robots" content="index, follow")
  <link rel="canonical" href="https://karelinhtm.github.io/southural/">
  meta(name="google-site-verification" content="eXgzRMPQPsPh5LObCGXPBjZ4kQfGbSK0o-lT_XLPt7Q")
  link(rel="preload" href="fonts/CenturyGothic.woff2" as="font" type="font/woff2" crossorigin)
  link(rel="preload" href="fonts/CenturyGothic-Bold.woff2" as="font" type="font/woff2" crossorigin)
  link(rel="preload" href="fonts/Tetra.woff2" as="font" type="font/woff2" crossorigin)
  link(rel="stylesheet" href='css/vendor.css')
  link(rel="stylesheet" href="css/main.css")
  script(defer src="js/main.js")
  title Южный Урал
