header.header
  .container
    .header__inner.flex
      a.header__link
        img.header__img(src="img/logo-header.png", alt="ЮУ", width='150px')
      img.header__descr(src="img/descr-header.png", alt="Южный Урал", width='300px')
  img.header__img-mobile(src="img/logo-header.png", alt="ЮУ", width='150px')

