section.hero
  .hero__inner
    .swiper__container.swiper__container-bg
      .swiper-wrapper.hero__swiper.hero__swiper-bg
        .swiper-slide.hero__slide-1
        .swiper-slide.hero__slide-2
        .swiper-slide.hero__slide-3
        .swiper-slide.hero__slide-4
        .swiper-slide.hero__slide-5
        .swiper-slide.hero__slide-6
        .swiper-slide.hero__slide-7
    .hero__container.container
        img.hero__human(src="img/hero.png", alt="Человек", width='300px')
    .swiper__container.swiper__container-title
      .swiper-wrapper.hero__swiper.hero__swiper-title
        .swiper-slide
          h1.swiper__title Река&nbsp;Ай
        .swiper-slide
          h1.swiper__title Тургояк
        .swiper-slide
          h1.swiper__title Зюраткуль
        .swiper-slide
          h1.swiper__title Аракуль
        .swiper-slide
          h1.swiper__title Иремель
        .swiper-slide
          h1.swiper__title Таганай
        .swiper-slide
          h1.swiper__title Нургуш
      .swiper-pagination
    img.hero__transition(src="img/transition.png", alt="Переход")


