section.parallax
  .parallax__inner
    .parallax__row.flex
      img.parallax__item.parallax__item-1(src="img/parallax1.png", alt="Шишка", width='500px')
      img.parallax__item.parallax__item-2(src="img/parallax2.png", alt="Кружка", width='500px')
      img.parallax__item.parallax__item-3(src="img/parallax3.png", alt="Бутылка", width='500px')
