section.posts
  .posts__inner
    img.posts__image(src="img/post1.png", alt="Открытка")
    img.posts__image(src="img/post2.png", alt="Открытка")
    img.posts__image(src="img/post3.png", alt="Открытка")
  .posts__row
    a.posts__button(href="https://disk.yandex.ru/d/UqUHUt-4Chswbg") Скачать открытки
