section.stories
  .container.stories__container
    .stories__inner.grid
      img.stories__item.stories__item-1(src="img/stories1.png", alt="Сторис")
      img.stories__item.stories__item-2(src="img/stories2.png", alt="Сторис")
      img.stories__item.stories__item-3(src="img/stories3.png", alt="Сторис")
      img.stories__item.stories__item-4(src="img/stories4.png", alt="Сторис")
      .swiper__container.swiper__container-stories
        .swiper-wrapper
          .swiper-slide
            img.stories__slide-image(src="img/stories1.png", alt="Сторис")
          .swiper-slide
            img.stories__slide-image(src="img/stories2.png", alt="Сторис")
          .swiper-slide
            img.stories__slide-image(src="img/stories3.png", alt="Сторис")
          .swiper-slide
            img.stories__slide-image(src="img/stories4.png", alt="Сторис")
        .swiper-button-prev
        .swiper-button-next
