section.tourism
  .tourism__inner
    h2.tourism__caption Туристические маршруты
    p.tourism__def Команда колледжа креативных индустрий, создала 4 увлекательных маршрута. Каждый из которых дает возможность окунуться в удивительный мир Южного Урала, оставляя за собой незабываемые эмоции и впечатления. Выбирайте точку на карте, отправляйтесь в путешествие и ощутите, что Южный Урал - это вершина притяжения.
    .tourism__wrapper
      .tourism__row
        img.tourism__background(src="img/tourism1-background.jpg", alt="Фон красивой природы")
        .tourism__block.container
          img.tourism__image(src="img/tourism1.jpg", alt="Семейный отдых")
          .tourism__text
            h3.tourism__title Семейный отдых
            p.tourism__descr Отправьтесь в захватывающее путешествие по Южному Уралу вместе всей семьей! Погрузитесь в изумрудную красоту горных хребтов, исследуйте величественные леса и кристально чистые озера. От увлекательных прогулок по живописным тропам до захватывающих приключений по горным рекам - здесь найдется развлечение для каждого члена вашей семьи. Познакомьтесь с местной культурой и историей! Создайте незабываемые воспоминания, отдыхая вместе с близкими в уникальном уголке природы, который так прекрасно сочетает в себе приключения, отдых и общение с семьей.
        .tourism__timeline
          ul.tourism__list-icon.grid
            li.tourism__item-icon
              img.tourism__icon(src="img/svg/tourism-icon1.1.svg", alt="Иконка", width='66px')
            li.tourism__item-icon
              img.tourism__icon(src="img/svg/tourism-icon1.2.svg", alt="Иконка", width='66px')
            li.tourism__item-icon
              img.tourism__icon(src="img/svg/tourism-icon1.3.svg", alt="Иконка", width='66px')
            li.tourism__item-icon
              img.tourism__icon(src="img/svg/tourism-icon1.4.svg", alt="Иконка", width='66px')
            li.tourism__item-icon
              img.tourism__icon(src="img/svg/tourism-icon1.5.svg", alt="Иконка", width='66px')
            li.tourism__item-icon
              img.tourism__icon(src="img/svg/tourism-icon1.6.svg", alt="Иконка", width='66px')
          ul.tourism__list.grid
            li.tourism__item Аквилон
            li.tourism__item Тургояк
            li.tourism__item Каменная <br> река
            li.tourism__item Александровская <br/> сопка
            li.tourism__item Уреньга
            li.tourism__item Зюраткуль
        .tourism__timeline-mobile
          .swiper-wrapper.tourism__timeline-mobile__list
            .swiper-slide.flex.tourism__timeline-mobile__item
              img.tourism__icon(src="img/svg/tourism-icon1.1.svg", alt="Иконка", width='66px')
              .tourism__item Аквилон
            .swiper-slide.flex.tourism__timeline-mobile__item
              img.tourism__icon(src="img/svg/tourism-icon1.2.svg", alt="Иконка", width='66px')
              .tourism__item Тургояк
            .swiper-slide.flex.tourism__timeline-mobile__item
              img.tourism__icon(src="img/svg/tourism-icon1.3.svg", alt="Иконка", width='66px')
              .tourism__item Каменная <br/> река
            .swiper-slide.flex.tourism__timeline-mobile__item
              img.tourism__icon(src="img/svg/tourism-icon1.4.svg", alt="Иконка", width='66px')
              .tourism__item Александровская <br/> сопка
            .swiper-slide.flex.tourism__timeline-mobile__item
              img.tourism__icon(src="img/svg/tourism-icon1.5.svg", alt="Иконка", width='66px')
              .tourism__item Уреньга
            .swiper-slide.flex.tourism__timeline-mobile__item
              img.tourism__icon(src="img/svg/tourism-icon1.6.svg", alt="Иконка", width='66px')
              .tourism__item Зюраткуль
          .swiper-scrollbar.tourism__timeline-mobile__scrollbar
      .tourism__row
        img.tourism__background(src="img/tourism2-background.jpg", alt="Фон красивой природы")
        .tourism__block.container
          img.tourism__image(src="img/tourism2.jpg", alt="Неспешный отдых")
          .tourism__text
            h3.tourism__title Неспешный отдых
            p.tourism__descr Отправьтесь в чарующее путешествие по Южному Уралу! Погрузитесь в мир спокойствия и гармонии нашего уникального региона, где время течет медленно, даря возможность насладиться каждым мгновением. От уютной прогулки по живописным тропам среди вековых сосен до пикника на берегу горного озера - здесь вы найдете идеальное сочетание уединения и красоты природы. Выбирайте любую из предложенных локаций, и окунутесь в атмосферу спокойствия, насладитесь красотой окружающего мира и получите незабываемые воспоминания о неспешном туризме на Южном Урале.
        .tourism__timeline
          ul.tourism__list-icon.grid
            li.tourism__item-icon
              img.tourism__icon(src="img/svg/tourism-icon4.1.svg", alt="Иконка", width='66px')
            li.tourism__item-icon
              img.tourism__icon(src="img/svg/tourism-icon4.2.svg", alt="Иконка", width='66px')
            li.tourism__item-icon
              img.tourism__icon(src="img/svg/tourism-icon4.3.svg", alt="Иконка", width='66px')
            li.tourism__item-icon
              img.tourism__icon(src="img/svg/tourism-icon4.4.svg", alt="Иконка", width='66px')
            li.tourism__item-icon
              img.tourism__icon(src="img/svg/tourism-icon4.5.svg", alt="Иконка", width='66px')
          ul.tourism__list.grid
            li.tourism__item ГЭС «Пороги»
            li.tourism__item Аркаим
            li.tourism__item штольни <br/> Слюдорудника
            li.tourism__item Французская <br/> горка
            li.tourism__item Большие <br/> Аллаки
        .tourism__timeline-mobile
          .swiper-wrapper.tourism__timeline-mobile__list
            .swiper-slide.flex.tourism__timeline-mobile__item
              img.tourism__icon(src="img/svg/tourism-icon4.1.svg", alt="Иконка", width='66px')
              .tourism__item ГЭС «Пороги»
            .swiper-slide.flex.tourism__timeline-mobile__item
              img.tourism__icon(src="img/svg/tourism-icon4.2.svg", alt="Иконка", width='66px')
              .tourism__item Аркаим
            .swiper-slide.flex.tourism__timeline-mobile__item
              img.tourism__icon(src="img/svg/tourism-icon4.3.svg", alt="Иконка", width='66px')
              .tourism__item штольни <br/> Слюдорудника
            .swiper-slide.flex.tourism__timeline-mobile__item
              img.tourism__icon(src="img/svg/tourism-icon4.4.svg", alt="Иконка", width='66px')
              .tourism__item Французская <br/> горка
            .swiper-slide.flex.tourism__timeline-mobile__item
              img.tourism__icon(src="img/svg/tourism-icon4.5.svg", alt="Иконка", width='66px')
              .tourism__item Большие <br/> Аллаки
          .swiper-scrollbar.tourism__timeline-mobile__scrollbar
      .tourism__row
        img.tourism__background(src="img/tourism3-background.jpg", alt="Фон красивой природы")
        .tourism__block.container
          img.tourism__image(src="img/tourism3.jpg", alt="Активный отдых")
          .tourism__text
            h3.tourism__title Активный отдых
            p.tourism__descr Челябинская область приглашает в безграничный мир, где каждый день наполнен новыми приключениями и возможностями для активного времяпрепровождения. От увлекательных пеших походов и велосипедных прогулок до захватывающих скалолазных маршрутов и увлекательных путешествий по горным рекам - здесь найдется что-то для каждого любителя активного образа жизни. Посетите все места нами составленного маршрута, чтобы испытать бурю эмоций, получить заряд энергии и создать незабываемые впечатления об активном туризме на Южном Урале.
        .tourism__timeline
          ul.tourism__list-icon.grid
            li.tourism__item-icon
              img.tourism__icon(src="img/svg/tourism-icon3.1.svg", alt="Иконка", width='66px')
            li.tourism__item-icon
              img.tourism__icon(src="img/svg/tourism-icon3.2.svg", alt="Иконка", width='66px')
            li.tourism__item-icon
              img.tourism__icon(src="img/svg/tourism-icon3.3.svg", alt="Иконка", width='66px')
            li.tourism__item-icon
              img.tourism__icon(src="img/svg/tourism-icon3.4.svg", alt="Иконка", width='66px')
            li.tourism__item-icon
              img.tourism__icon(src="img/svg/tourism-icon3.5.svg", alt="Иконка", width='66px')
            li.tourism__item-icon
              img.tourism__icon(src="img/svg/tourism-icon3.6.svg", alt="Иконка", width='66px')
          ul.tourism__list.grid
            li.tourism__item Тургояк
            li.tourism__item хребет <br/> Заозерный
            li.tourism__item Двуглавая <br/> сопка
            li.tourism__item Круглица
            li.tourism__item Айские <br/> притесы
            li.tourism__item река Ай
        .tourism__timeline-mobile
          .swiper-wrapper.tourism__timeline-mobile__list
            .swiper-slide.flex.tourism__timeline-mobile__item
              img.tourism__icon(src="img/svg/tourism-icon3.1.svg", alt="Иконка", width='66px')
              .tourism__item Тургояк
            .swiper-slide.flex.tourism__timeline-mobile__item
              img.tourism__icon(src="img/svg/tourism-icon3.2.svg", alt="Иконка", width='66px')
              .tourism__item хребет <br/> Заозерный
            .swiper-slide.flex.tourism__timeline-mobile__item
              img.tourism__icon(src="img/svg/tourism-icon3.3.svg", alt="Иконка", width='66px')
              .tourism__item Двуглавая <br/> сопка
            .swiper-slide.flex.tourism__timeline-mobile__item
              img.tourism__icon(src="img/svg/tourism-icon3.4.svg", alt="Иконка", width='66px')
              .tourism__item Круглица
            .swiper-slide.flex.tourism__timeline-mobile__item
              img.tourism__icon(src="img/svg/tourism-icon3.5.svg", alt="Иконка", width='66px')
              .tourism__item Айские <br/> притесы
            .swiper-slide.flex.tourism__timeline-mobile__item
              img.tourism__icon(src="img/svg/tourism-icon3.6.svg", alt="Иконка", width='66px')
              .tourism__item река Ай
          .swiper-scrollbar.tourism__timeline-mobile__scrollbar
      .tourism__row
        img.tourism__background(src="img/tourism4-background.jpg", alt="Фон красивой природы")
        .tourism__block.container
          img.tourism__image(src="img/tourism4.jpg", alt="Отдых для профессионалов")
          .tourism__text
            h3.tourism__title Отдых для профессионалов
            p.tourism__descr Мир адреналина и экстремальных возможностей нашего региона, даст возможность преодолеть горные вершины, стремительные реки и исследовать дикие леса. Наши маршруты специально разработаны для тех, кто ищет новые вызовы и жаждет невероятных впечатлений. От восхождений на вершины до спусков на велосипедах по крутым склонам - здесь каждый найдет что-то для себя. Присоединяйтесь к нам, чтобы достичь вершины притяжения!
        .tourism__timeline
          ul.tourism__list-icon.grid
            li.tourism__item-icon
              img.tourism__icon(src="img/svg/tourism-icon2.1.svg", alt="Иконка", width='66px')
            li.tourism__item-icon
              img.tourism__icon(src="img/svg/tourism-icon2.3.svg", alt="Иконка", width='66px')
            li.tourism__item-icon
              img.tourism__icon(src="img/svg/tourism-icon2.4.svg", alt="Иконка", width='66px')
            li.tourism__item-icon
              img.tourism__icon(src="img/svg/tourism-icon2.5.svg", alt="Иконка", width='66px')
            li.tourism__item-icon
              img.tourism__icon(src="img/svg/tourism-icon2.6.svg", alt="Иконка", width='66px')
          ul.tourism__list.grid
            li.tourism__item Монблан
            li.tourism__item Метеостанция
            li.tourism__item Ицыл
            li.tourism__item Нургуш
            li.tourism__item хребет <br/> Зигальга
        .tourism__timeline-mobile
          .swiper-wrapper.tourism__timeline-mobile__list
            .swiper-slide.flex.tourism__timeline-mobile__item
              img.tourism__icon(src="img/svg/tourism-icon2.1.svg", alt="Иконка", width='66px')
              .tourism__item Монблан
            .swiper-slide.flex.tourism__timeline-mobile__item
              img.tourism__icon(src="img/svg/tourism-icon2.3.svg", alt="Иконка", width='66px')
              .tourism__item Метеостанция
            .swiper-slide.flex.tourism__timeline-mobile__item
              img.tourism__icon(src="img/svg/tourism-icon2.4.svg", alt="Иконка", width='66px')
              .tourism__item Ицыл
            .swiper-slide.flex.tourism__timeline-mobile__item
              img.tourism__icon(src="img/svg/tourism-icon2.5.svg", alt="Иконка", width='66px')
              .tourism__item Нургуш
            .swiper-slide.flex.tourism__timeline-mobile__item
              img.tourism__icon(src="img/svg/tourism-icon2.6.svg", alt="Иконка", width='66px')
              .tourism__item хребет <br/> Зигальга
          .swiper-scrollbar.tourism__timeline-mobile__scrollbar
    //- .tourism__block
    //-   .tourism__row.grid
    //-     h3.tourism__title-tablet.tourism__title Семейный туризм
    //-     img.tourism__image(src="img/tourism1.jpg", alt="Турист")
    //-     .tourism__descr
    //-       h3.tourism__title Семейный туризм
    //-       p.tourism__text Отправляйтесь в захватывающее путешествие по Южному Уралу вместе с вашей семьей! Погрузитесь в изумрудную красоту горных хребтов, исследуйте величественные водопады и кристально чистые озера. От увлекательных прогулок по живописным тропам до захватывающих приключений по горным рекам - здесь найдется развлечение для каждого члена вашей семьи. Познакомьтесь с местной культурой и историей! Создайте незабываемые воспоминания, отдыхая вместе с близкими на этом уникальном уголке природы, который так прекрасно сочетает в себе приключения, отдых и общение с семьей.
    //-     img.tourism__image-tablet(src="img/tourism1.png", alt="Турист")
    //-   .tourism__timeline
    //-     ul.tourism__list-icon.grid
    //-       li.tourism__item-icon
    //-         img.tourism__icon(src="img/svg/tourism-icon1.1.svg", alt="Иконка", width='66px')
    //-       li.tourism__item-icon
    //-         img.tourism__icon(src="img/svg/tourism-icon1.2.svg", alt="Иконка", width='66px')
    //-       li.tourism__item-icon
    //-         img.tourism__icon(src="img/svg/tourism-icon1.3.svg", alt="Иконка", width='66px')
    //-       li.tourism__item-icon
    //-         img.tourism__icon(src="img/svg/tourism-icon1.4.svg", alt="Иконка", width='66px')
    //-       li.tourism__item-icon
    //-         img.tourism__icon(src="img/svg/tourism-icon1.5.svg", alt="Иконка", width='66px')
    //-       li.tourism__item-icon
    //-         img.tourism__icon(src="img/svg/tourism-icon1.6.svg", alt="Иконка", width='66px')
    //-     ul.tourism__list.grid
    //-       li.tourism__item Аквилон
    //-       li.tourism__item Тургояк
    //-       li.tourism__item Каменная река
    //-       li.tourism__item Александровская сопка
    //-       li.tourism__item Уреньга
    //-       li.tourism__item Зюраткуль
    //-   .tourism__timeline-mobile
    //-     .swiper-wrapper.tourism__timeline-mobile__list
    //-       .swiper-slide.flex.tourism__timeline-mobile__item
    //-         img.tourism__icon(src="img/svg/tourism-icon1.1.svg", alt="Иконка", width='66px')
    //-         .tourism__item Аквилон
    //-       .swiper-slide.flex.tourism__timeline-mobile__item
    //-         img.tourism__icon(src="img/svg/tourism-icon1.2.svg", alt="Иконка", width='66px')
    //-         .tourism__item Тургояк
    //-       .swiper-slide.flex.tourism__timeline-mobile__item
    //-         img.tourism__icon(src="img/svg/tourism-icon1.3.svg", alt="Иконка", width='66px')
    //-         .tourism__item Каменная река
    //-       .swiper-slide.flex.tourism__timeline-mobile__item
    //-         img.tourism__icon(src="img/svg/tourism-icon1.4.svg", alt="Иконка", width='66px')
    //-         .tourism__item Александровская сопка
    //-       .swiper-slide.flex.tourism__timeline-mobile__item
    //-         img.tourism__icon(src="img/svg/tourism-icon1.5.svg", alt="Иконка", width='66px')
    //-         .tourism__item Уреньга
    //-       .swiper-slide.flex.tourism__timeline-mobile__item
    //-         img.tourism__icon(src="img/svg/tourism-icon1.6.svg", alt="Иконка", width='66px')
    //-         .tourism__item Зюраткуль
    //-     .swiper-scrollbar.tourism__timeline-mobile__scrollbar
    //- .tourism__block
    //-   .tourism__row.grid
    //-     h3.tourism__title-tablet.tourism__title Профессиональный туризм
    //-     .tourism__descr-second
    //-       h3.tourism__title Профессиональный туризм
    //-       p.tourism__text Погрузитесь в мир адреналина и экстремальных возможностей этого уникального региона, преодолевая горные вершины, преодолевая стремительные реки и исследуя дикие леса. Наши маршруты специально разработаны для тех, кто ищет новые вызовы и жаждет невероятных впечатлений. От восхождений на вершины до спусков на велосипедах по крутым склонам - здесь каждый найдет что-то для себя. Присоединяйтесь к нам, чтобы достичь вершины притяжения!
    //-     img.tourism__image-second(src="img/tourism2.png", alt="Турист")
    //-     img.tourism__image-second-tablet(src="img/tourism2.png", alt="Турист")
    //-   .tourism__timeline
    //-     ul.tourism__list.grid
    //-       li.tourism__item Монблан
    //-       li.tourism__item Откликной Гребень
    //-       li.tourism__item Метеостанция
    //-       li.tourism__item Ицыл
    //-       li.tourism__item Нургуш
    //-       li.tourism__item хребет Зигальга
    //- .tourism__block
    //-   .tourism__row.grid
    //-     h3.tourism__title-tablet.tourism__title Активный туризм
    //-     img.tourism__image(src="img/tourism3.png", alt="Турист")
    //-     .tourism__descr
    //-       h3.tourism__title Активный туризм
    //-       p.tourism__text Мы приглашаем вам в безграничный мир нашего уникального региона, где каждый день наполнен новыми приключениями и возможностями для активного время препровождения. От увлекательных пеших походов и велосипедных прогулок до захватывающих скалолазных маршрутов и увлекательных путешествий по горным рекам - здесь найдется что-то для каждого любителя активного образа жизни. Посетите все места нами составленного маршрута, чтобы испытать бурю эмоций, получить заряд энергии и создать незабываемые впечатления о активном туризме на Южном Урале.
    //-     img.tourism__image-tablet(src="img/tourism3.png", alt="Турист")
    //-   .tourism__timeline
    //-     ul.tourism__list.grid
    //-       li.tourism__item Тургояк
    //-       li.tourism__item хребет Заозерный
    //-       li.tourism__item Двуглавая сопка
    //-       li.tourism__item Круглица
    //-       li.tourism__item Айские притесы
    //-       li.tourism__item река Ай
    //- .tourism__block
    //-   .tourism__row.grid
    //-     h3.tourism__title-tablet.tourism__title Неспешный туризм
    //-     .tourism__descr-second
    //-       h3.tourism__title Неспешный туризм
    //-       p.tourism__text Отправьтесь в умиротворенное путешествие по Южному Уралу! Погрузитесь в мир спокойствия и гармонии нашего уникального региона, где время течет медленно, даря возможность насладиться каждым мгновением. От уютной прогулки по живописным тропам до пикника на берегу горного озера - здесь вы найдете идеальное сочетание уединения и красоты природы. Присоединяйтесь к нам, чтобы окунуться в атмосферу спокойствия, насладиться красотой окружающего мира и создать незабываемые воспоминания о неспешном туризме на Южном Урале.
    //-     img.tourism__image-second(src="img/tourism4.png", alt="Турист")
    //-     img.tourism__image-second-tablet(src="img/tourism4.png", alt="Турист")
    //-   .tourism__timeline
    //-     ul.tourism__list.grid
    //-       li.tourism__item ГЭС «Пороги»
    //-       li.tourism__item Аркаим
    //-       li.tourism__item штольни Слюдорудника
    //-       li.tourism__item Французская горка
    //-       li.tourism__item Большие Аллаки

