section.video
  .video__inner
    img.video__tablet(src="img/tablet.png", alt="Видео")
    video.video__content(controls,  poster='img/poster.png',width='1170px')
      source(src="./video.mp4", type="video/mp4")
